body {
  background-color: rgb(116, 116, 116);
  margin: 25px;
}

a {
  color: rgb(79, 25, 186);
  margin: 2px;
}

a:hover {
  color: red;
}

p {
  margin: 0 0 0 0;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.title {
  color: rgba(0, 0, 0);
  margin: -10px 0 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.description {
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  margin: 7px 0 7px 0;
}

.tustit {
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.screenshot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}
