body {
  background-color: white;
  margin: 25px;
}

a {
  color: red;
  margin: 2px;
}

p {
  color: red;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
}

.screenshot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
