body {
  margin: 0;
}

p {
  margin: 0 0 0 0;
}

/* HEADER */
/*intro*/
header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.intro {
  padding: 25px;
}

.title {
  font-family: "Oswald";
  font-size: 1.7rem;
  line-height: 1.9rem;
  padding-bottom: 10px;
}

.project-description {
  max-width: 550px;
  font-size: 1.2rem;
}
/*menu*/
a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Oswald";
  font-size: 1.7rem;
}

a:hover {
  color: red;
}

.menu {
  padding: 25px;
  line-height: 1.9rem;
}

/*BODY*/
.navigation a {
  font-family: "Kosugi", sans-serif;
  font-size: 2rem;
  margin: 0px;
  background-color: rgba(0, 211, 139, 1);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 10px;
}
