p {
  margin: 0;
  color: red;
  font-size: 20px;
}

a {
  font-size: 20px;
}

.machines {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.machine {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: masonry;
}

.image-with-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-caption span {
  font-size: 11px;
}

.nav {
  display: flex;
  flex-direction: column;
}
