body {
  margin: 0 0 0 25px;
  background-color: rgb(242, 242, 242);
}

header {
  margin: 0 0 0 -25px;
}

@font-face {
  font-family: "CutMeOut.ttf";
  src: url(/fonts/CutMeOut2.ttf);
}

p {
  margin: 0;
  color: rgb(0, 0, 0);
}

/*START-PAGE*/
h2 {
  font-family: "CutMeOut.ttf";
  padding: 15px;
  font-size: 2rem;
  margin: 0 0 0 0;
  background-color: black;
}

a.collector,
a.maker {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  padding: 25px;
}

a.collector:hover {
  color: rgb(61, 255, 107);
}

a.maker:hover {
  color: rgb(69, 91, 216);
}

#data-collectors {
  color: rgb(61, 255, 107);
}

#book-makers {
  color: rgb(69, 91, 216);
}

.machines {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
}

.collectors,
.makers {
  display: flex;
  flex-direction: row;
  height: 45vh;
}

.collector,
.maker {
  width: 33.33%;
  background-color: white;
  margin: 0px 75px 0px 75px;
}

.arrows {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  padding-left: 7rem;
}

p.arrow {
  width: 33.33vw;
  font-size: 3rem;
  color: red;
}

/* COLLECTORS, MAKERS */
#arrows-single {
  top: 50px;
  left: 350px;
}
p.title {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  padding-top: 25px;
}

input {
  margin: 25px 0 25px 0;
  border: 2px inset;
  font-family: monospace;
  font-style: italic;
  width: 10rem;
  height: 2rem;
  padding: 1px 0px 1px 0px;
  background-color: white;
  outline: none;
}

input.button {
  border: outset;
  cursor: pointer;
  background-color: aqua;
  margin-left: 25px;
}

form {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 50vw;
}

/* 2-API-IMAGES */

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: masonry;
}

.image-with-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-caption span {
  font-size: 11px;
}
